<h1>Login</h1>
<body>
  <form>
    <p><label>
      <input type="text" value="login">
      <input type="text" value="password">
    </label></p>
    <p><input type = button value="я уже смешарик"></p>
  </form>
</body>
