<style>
    div {
        width: 100%;
    }

    a {
        display: block;
        text-align: center;
    }
</style>
<p></p>


<div class="button" style="margin-top: 100px">
  <h1 align="center">Привет, друг!</h1>

  <body>
  <%= link_to "я новенький", registration_path, :class => 'button' %>
  </body>
  <p></p>
  <p></p>
  <body>
  <%= link_to "я уже смешарик", login_path, :class => 'btn btn-outline-primary' %>
  </body>
</div>
